div.pull-requests-header{
  border-radius: 5px 5px 0 0;
  background: #EFEFEF;
  background: -moz-linear-gradient(#EFEFEF, #CACACA);
  background: -webkit-linear-gradient(#EFEFEF, #CACACA);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#cacaca')";
  -moz-box-sizing: border-box;
  height: 31px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, freesans;
  border: 1px solid #DDD;
  position: relative;
}

div.pull-requests-header .tab{
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  display: inline-block;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: #B4B4B4;
  border-bottom: 1px solid white;
  border: 1px solid #CCC;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  position: absolute;
  bottom: 0px;
  margin: 0 0 -2px 10px;
}

ul.pull-requests{
  margin: 0;
  max-height: 500px;
  overflow: auto;
  border: 1px silver solid;
  background: #fff;
  padding: 0;
}

ul.pull-requests li{
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #EAEAEA;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, freesans;
}

ul.pull-requests li:hover{
  background: #FFFFEF;
}

ul.pull-requests li:last-child{
  border-bottom: none;
}

ul.pull-requests li h4{
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  font-weight: bold;
}

ul.pull-requests li .body{
  font-size: 12px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

ul.pull-requests li h4 a{
  font-family: "Helvetica Neue", Helvetica, Arial, freesans;
  margin: 0 0 5px 0;
  color: #333;
  text-decoration: none;
}

ul.pull-requests li h4 a:hover{
  text-decoration: underline;
}

ul.pull-requests li .meta-info {
  display: inline-block;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.55);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 6px 5px 2px 24px;
  width: auto;
  margin-top: 4px;
  height: 16px;
  line-height: 1;
  position: relative;
}

ul.pull-requests li .meta-info img{
  width: 12px;
  height: 12px;
  padding: 1px;
  font-size: 1px;
  background: white;
  border: 1px solid #CCC;
  margin-right: 2px;
  position: absolute;
  top: 4px;
  left: 5px;
}

ul.pull-requests li .meta-info a{
  color: #4183C4;
  text-decoration: none;
}
